body {
    font-family: Tahoma, sans-serif;
  }
  
table, td {
    border: 1px solid grey;
  }
  
  td {
    margin: 0;
    width: 180px;
    padding: 3px;
  }
  
  th {
    background-color: lightslategray;
  } 

  .under {
      background-color: limegreen;     
  }

  .over {
      background-color: red;
  }

  #monthly {
      float: right;
      margin: 0 50px 0 0;
  }

  .input-group-text{
      padding: 5px;
  }